:root {
    --recent-project-back-hover: #ffffff07;
    --color-errored: #ff7474;
}

#form-project-selector .projects-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-height: 125px;
    overflow-y: auto;
}

#form-project-selector .projects-list > .recent-project {
    display: flex;
    flex-direction: row;
    gap: 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: ease-in-out 0.2s;
}

#form-project-selector .projects-list > .recent-project:hover {
    background-color: var(--recent-project-back-hover);
}

#form-project-selector .projects-list > .recent-project > .icon {
    background: linear-gradient(45deg, hsl(var(--colorH) 42% 48% / 1), hsl(calc(var(--colorH) + 60) 100% 78% / 1));
    width: 35px;
    height: 35px;
    border-radius: 5px;
    font-size: 0.8em;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

#form-project-selector .projects-list > .recent-project > .name-and-path {
    display: flex;
    flex-direction: column;
}

#form-project-selector .projects-list > .recent-project > .name-and-path > .path {
    opacity: 0.4;
    font-size: 0.8em;
    white-space: nowrap;
}

#form-project-selector .no-projects {
    opacity: 0.5;
    font-weight: 500;
    font-size: 0.8em;
    white-space: nowrap;
    text-align: center;
}

#form-project-selector .projects-list > .recent-project.errored > .name-and-path > * {
    color: var(--color-errored);
}

#form-project-selector .projects-list > .recent-project.errored > .icon {
    background: linear-gradient(45deg, #9b2e2e, #ff7676);
}
