:root {
    --back-color: #191919;
    --front-color: #ffffff;
    --panel-color: #191919;
    --border-color: #ffffff21;
    --button-back: #ffffff0f;

    --font: 'Inter', sans-serif;
}

* {
    box-sizing: border-box;
}

body,
html,
#react-root {
    margin: 0;
    width: 100%;
    height: 100%;
    user-select: none;
}

body {
    font-family: var(--font);

    background-color: var(--back-color);
    color: var(--front-color);
}

.form {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background-color: var(--back-color);

    transition: cubic-bezier(0, 0, 0.2, 1) 0.3s;

    &.closed {
        visibility: collapse;
        opacity: 0;
        transform: scale(1.05);
    }

    > .centered {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        position: fixed;

        > .title {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 2em;
            font-weight: 600;

            padding-bottom: 15px;

            .baseline {
                display: flex;
                align-items: baseline;
            }

            .version {
                font-size: 0.5em;
                font-weight: 500;
                opacity: 0.5;
            }
        }

        > .content {
            min-width: 375px;
            padding: 20px;

            background-color: var(--panel-color);

            border: 1px solid var(--border-color);
            border-radius: 15px;

            display: flex;
            flex-direction: column;
            gap: 15px;

            > .bottom-buttons {
                display: flex;
                flex-direction: row;
                gap: 10px;

                > * {
                    flex-grow: 1;
                }
            }
        }
    }

    > .corner-info {
        position: fixed;
        bottom: 10px;
        left: 10px;
        font-size: 0.8em;
        font-weight: 600;
        opacity: 0.4;
    }

    > .close-button {
        position: fixed;
        top: 15px;
        left: 15px;
        cursor: pointer;

        &:active {
            opacity: 0.5;
        }
    }
}

button,
input[type='text'],
input[type='number'] {
    font-family: var(--font);
    transition: ease-in-out 0.1s;
    white-space: nowrap;
    border-radius: 5px;
    padding: 5px;
    color: var(--button-front);
    font-weight: 500;
    font-size: 0.9em;
    background: var(--button-back);
    border: 1px solid var(--border-color);
}

button:focus-visible,
input[type='text']:focus,
input[type='number']:focus {
    outline: none;
    border-color: var(--input-border-focus);
}

button {
    text-align: center;
    cursor: pointer;
    &:active {
        opacity: 0.5;
    }
}

.separator {
    height: 1px;
    background-color: var(--border-color);
}

.loader-spinner {
    animation: spin 1s linear infinite;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}
