:root {
    --back-color: #191919;
    --front-color: #ffffff;
    --panel-color: #191919;
    --border-color: #ffffff21;
}

* {
    box-sizing: border-box;
}

body,
html,
#react-root,
.form {
    margin: 0;
    width: 100%;
    height: 100%;
    user-select: none;
}

body {
    font-family: 'Inter', sans-serif;

    background-color: var(--back-color);
    color: var(--front-color);
}

.form > .centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
}

.form > .centered > .title {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    font-weight: 600;

    padding-bottom: 15px;
}

.form > .centered > .title .baseline {
    display: flex;
    align-items: baseline;
}

.form > .centered > .title .version {
    font-size: 0.5em;
    font-weight: 500;
    opacity: 0.5;
}

.form > .centered > .content {
    min-width: 300px;
    padding: 20px;

    background-color: var(--panel-color);

    border: 1px solid var(--border-color);
    border-radius: 15px;
}
